CONFIG_HAVE_CLK=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_COMMON_CLK=y
CONFIG_CLKDEV_LOOKUP=y
CONFIG_PM_CLK=y

CONFIG_X86_INTEL_LPSS=y
CONFIG_IOSF_MBI=y
CONFIG_INTEL_SOC_DTS_THERMAL=y

CONFIG_DW_DMAC_PCI=y
CONFIG_PWM_LPSS_PCI=y

#GPIO Support
CONFIG_GPIOLIB=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_ACPI=y

# I2C Support
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_BAYTRAIL=y
CONFIG_I2C_CHARDEV=m

# SPI Support
CONFIG_SPI=y
CONFIG_SPI_SPIDEV=m
CONFIG_SPI_PXA2XX_DMA=y
CONFIG_SPI_PXA2XX=y
CONFIG_SPI_PXA2XX_PCI=y

# UART Support
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_8250_NR_UARTS=4

# DMA Support
CONFIG_DW_DMAC=y

# PWM Support
CONFIG_PWM=y
CONFIG_PWM_LPSS=y

# PINCTRL Support
CONFIG_PINCTRL=y
CONFIG_PINMUX=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_BAYTRAIL=y

CONFIG_MCORE2=y

CONFIG_MICROCODE_AMD=n
CONFIG_MICROCODE_OLD_INTERFACE=n
CONFIG_MICROCODE_AMD_EARLY=n

CONFIG_INTEL_IDLE=y
CONFIG_WATCHDOG_CORE=y
# CONFIG_AGP_AMD64 is not set

# Ethernet Support
CONFIG_IGB=y

# MMC / SDHCI Support
CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_PCI=y
CONFIG_MMC_SDHCI_ACPI=y

# SMBus Support
CONFIG_I2C_I801=y

# USB XHCI Support
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y

# USB Device Support
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=m
CONFIG_USB_MASS_STORAGE=m
CONFIG_NOP_USB_XCEIV=y

# Realtek 8169 Ethernet
CONFIG_R8169=y

# Intel Management Environment
CONFIG_INTEL_MEI_ME=n
CONFIG_INTEL_MEI_TXE=m

# Avoid spamming virtual terminals in /sys/devices/virtual/tty
# See https://github.com/scaleway/image-debian/issues/27
# CONFIG_LEGACY_PTYS is not set
CONFIG_UNIX98_PTYS=y

# PC Speaker support (error beep)
CONFIG_INPUT_MISC=y
CONFIG_INPUT_PCSPKR=y

# Enable EFIVARFS which is required for secure boot / device label
CONFIG_EFIVAR_FS=y
CONFIG_EFI_VARS=y

# https://trello.com/c/EwPF4S9z/1-netcoredefaultqdiscfqcodel
# fq_codel seems to be the best network scheduler and is set by systemd per default
CONFIG_NET_SCH_FQ_CODEL=m

# Include USB<->ethernet adapter driver used in hilscher test environment
CONFIG_USB_RTL8152=m

# vmware fusion driver requires this
CONFIG_SCSI_FC_ATTRS=y
