CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y

CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y

CONFIG_USB_KEYBOARD=y
# CONFIG_SERIAL_PRESENT is not set

CONFIG_AHCI=y
CONFIG_SATA=y
CONFIG_CMD_SATA=y
CONFIG_SCSI_AHCI=y

CONFIG_MENU=y
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_SETEXPR=y

# TODO: Check how to correctly support all boot options, including signature checks
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="usb reset; usb start; load usb 0:1 $loadaddr boot.scr; source $loadaddr; scsi scan; load scsi 0:1 $loadaddr boot.scr; source $loadaddr"

CONFIG_FIT=y
CONFIG_LEGACY_IMAGE_FORMAT=y

# For bootmenu (colors, etc.)
CONFIG_VIDEO_ANSI=y
CONFIG_VIDEO_EFI=y
# CONFIG_VIDEO_VESA is not set
