CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y

CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y

CONFIG_USB_KEYBOARD=y
CONFIG_USB_KEYBOARD_FN_KEYS=y
CONFIG_SYS_USB_EVENT_POLL_VIA_CONTROL_EP=y

# CONFIG_SERIAL_PRESENT is not set

CONFIG_AHCI=y
CONFIG_SATA=y
CONFIG_NVME=y
CONFIG_MMC=y
CONFIG_SCSI_AHCI=y

CONFIG_MENU=y
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_SETEXPR=y
CONFIG_CMD_SATA=y
CONFIG_CMD_NVME=y
CONFIG_CMD_MMC=y

# CONFIG_USE_BOOTARGS is not set

CONFIG_FIT=y
CONFIG_LEGACY_IMAGE_FORMAT=y

# For bootmenu (colors, etc.)
CONFIG_VIDEO_ANSI=y
CONFIG_VIDEO_EFI=y
# CONFIG_VIDEO_VESA is not set
